@media (min-width: 1024px) {
  /* Font sizes on pc */

  h1 {
    font-size: 5.4rem;
  }

  h2 {
    font-size: 3.8rem;
    
  }

  h3 {
    font-size: 2.6rem;

  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  p {
    font-size: 1rem;
  }
  .subheadline {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

  /* Content og grids på pages */
  
  @media (min-width: 768px) {
  .grid-2_3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .grid-2_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .grid-1_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .grid-2_4 {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  }
  
}


