---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";
import Newscard from "../components/newsCard.astro";

const newsData = await fetch("https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Nyheder_Aktiviteter", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("newsData", newsData);
---

<MainLayout title="Aktiviteter" />
<Navigation />

<div class="main">

<section class="breadcrumb_trail">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

<h1>AKTIVITETER</h1>
<section class="news-grid">
  {newsData.map((news) => <Newscard news_image={news.news_image} date={news.date} headline={news.headline} subheadline={news.subheadline} />)}
</section>

<!-- Indsæt nyhedBIG_verticalScroll -->

<section class="categoryCard_grid3"><!-- Hvor skal disse linke hen til?? -->
    <a href="">
    <CategoryCard
    imgPath="../img/Tennisballsracket.webp"
    title="DOUBLETURNERING">
    </a>
    
    <a href="">
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="INDSPILSTURNERING">
    </a>
    
    <a href="">
     <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="INDSPILSTURNERING">
    </a>
    
    <a href="">
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="ATK-LIGA">
    </a>
    </section>

</section>

</div>
<!-- --------------------------------------------------------------------------------- -->

<style>
    .breadcrumb_trail img{ /* pile i brødkrummesti */
        width:0.7%;
    }
     </style>