---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import Footer from "../components/Footer.astro";
import NavigationP from "../components/NavigationP.astro";
import Newscard from "../components/newsCard.astro";
import HeroImg from "../components/HeroImg.astro";

const newsData = await fetch("https://cgymdqjrjdkshxuerdil.supabase.co/rest/v1/Nyheder_Aktiviteter?limit=12", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNneW1kcWpyamRrc2h4dWVyZGlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUxNjg4NjYsImV4cCI6MjAzMDc0NDg2Nn0.Wuj2B0mSu9HRIludgvymMYSNlhDMzV8213Fitr6A4bw",
  },
}).then((response) => response.json());

console.log("newsData", newsData);
---

<MainLayout title="Alle nyheder" />
<NavigationP />
<HeroImg heroImg="../img/gruppebillede.webp"/>


<div class="main">
    <section class="content">
 
    <a href="/" id="atkHome"><BreadCrumb breadtitle="Hjem"/></a>
    <a href="/omatk"><BreadCrumb breadtitle="Om ATK"/></a>
    <a href="/allenyheder"><BreadCrumb breadtitle="Nyheder" /></a>
    <h2>NYHEDER</h2>

    <div class="autolayout">
      {newsData.map((news) => <Newscard news_image={news.news_image} date={news.date} headline={news.headline} subheadline={news.subheadline} />)}
    </div>

    </section>
</div>

<Footer />