---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import Footer from "../components/Footer.astro";
import NavigationP from "../components/NavigationP.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>
<NavigationP />

<div class="main"> 
    <section class="content">

    <a href="/seniortraening"><BreadCrumb breadtitle="Hjem"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Nyheder"/></a>
    <h1>ALLE NYHEDER</h1>

    </section>
</div>

<Footer />

 
 <