---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import breadcrumb_trial from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="Nyheder"/>
<Navigation />
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- husk at tilføje links -->
          <li><a href="">Alle nyheder</a></li><!-- husk at tilføje links -->
      </ul>
  </nav>
</section>

<h1>ALLE NYHEDER</h1>

<!-- Indsæt nyhedBIG_verticalScroll -->

<!-- Indsæt nyhederSmall -->
<!-- Indsæt nyhederSmall -->

<Footer />
 <!-- --------------------------------------------------------------------------------- -->
 
 <style>
 
     
 </style>