---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>

<div class="main">

<section class="breadcrumb_trail">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>


<h1>ALLE NYHEDER</h1>

<!-- Indsæt nyhedBIG_verticalScroll -->

<!-- Indsæt nyhederSmall -->
<!-- Indsæt nyhederSmall -->

</div>


 <!-- --------------------------------------------------------------------------------- -->
 
 <style>
    .breadcrumb_trail img{ /* pile i brødkrummesti */
        width:0.7%;
    }
    
    p{
      color: blueviolet;/* OBS: skriften er pr default hvid */
    }
     </style>