---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import breadcrumb_trial from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="Elitetræning" />
<Navigation />
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- husk at tilføje links -->
          <li><a href="">Træning</a></li><!-- husk at tilføje links -->
          <li><a href="">Elitetræning</a></li><!-- husk at tilføje links -->
      </ul>
  </nav>
 </section>

 <h1>SEIORTRÆNING 2024</h1>
  
   <!-- Indsæt træningsInfo-->
  
   <!-- Indsæt contactCard -->
 
 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>
 
 <!-- holdCard-->

 <p>ATK har tre elite herre-hold og to elite dame-hold. Der udstedes ugentlige programmer til de aktuelle spillere.</p>
  
  <!-- Indsæt tabel-->

<Footer />
  
  <!-- --------------------------------------------------------------------------------- -->
  
   <style>
  
      
   </style>