---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- husk at tilføje links -->
          <li><a href="">Træning</a></li><!-- husk at tilføje links -->
          <li><a href="">Elitetræning</a></li><!-- husk at tilføje links -->
      </ul>
  </nav>
 </section>

 <h1>SEIORTRÆNING 2024</h1>
  
   <!-- Indsæt træningsInfo-->
  
   <!-- Indsæt contactCard -->
 
 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>
 
 <!-- holdCard-->

 <p>ATK har tre elite herre-hold og to elite dame-hold. Der udstedes ugentlige programmer til de aktuelle spillere.</p>
  
  <!-- Indsæt tabel-->
  
  <!-- --------------------------------------------------------------------------------- -->
  
   <style>
  
      
   </style>