---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Banner from "../components/Banner.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>


<div class="main">

<section class="breadcrumb_trail">
<img src="../img/svg/arrowLeft 1.svg" alt="Pil">
<img src="../img/svg/arrowLeft 1.svg" alt="Pil">
<a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
<a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
<a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
<a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

<h1>NYHEDER</h1>
<section class="newsBig_grid">
<!-- Indsæt nyhedBIG_verticalScroll -->
</section>

<section class="newsSmall_grid">
<h2>AKTIVITETER</h2>
<!-- Indsæt nyhederSmall -->
</section>

<section class="categoryCard_grid1">
<a href="/juniortraening">
<CategoryCard
imgPath="../img/Tennisballsracket.webp"
title="JUNIOR"/>
</a>

<a href="/motionisttraening">
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="SENIOR"/>
</a>

<a href="/seniortraening">
 <CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="MOTIONIST"/>
</a>

<a href="/elitetraening">
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="ELITE"/>
</a>
</section>

<div class="carousel-container">
  <div class="carousel-track">
    <div class="carousel-item">
      <CarrouselScroll 
        date="11/11"
        headline="wow"
        subheadline="EPIC BATTLE BETWEEN THE "
      />
    </div>
    <div class="carousel-item">
      <CarrouselScroll 
        date="11/11"
        headline="wow"
        subheadline="EPIC BATTLE BETWEEN THE "
      />
    </div>
    <div class="carousel-item">
      <CarrouselScroll 
        date="11/11"
        headline="wow"
        subheadline="EPIC BATTLE BETWEEN THE "
      />
    </div>
    <div class="carousel-item">
      <CarrouselScroll 
        date="12/12"
        headline="amazing"
        subheadline="INCREDIBLE SHOWDOWN"
      />
    </div>
    <div class="carousel-item">
      <CarrouselScroll 
        date="01/01"
        headline="unbelievable"
        subheadline="UNREAL CLASH"
      />
    </div>
  </div>
  <div class="carousel-navigation">
    <img src="/img/svg/redarrowLeft 1.svg" id="prevButton"></img>
    <img src="/img/svg/redarrowRight 1.svg" id="nextButton"></img>
  </div>
  <div class="carousel-indicators">
    <div class="carousel-indicator active" data-slide-to="0"></div>
    <div class="carousel-indicator" data-slide-to="1"></div>
    <div class="carousel-indicator" data-slide-to="2"></div>
    <div class="carousel-indicator" data-slide-to="3"></div>
    <div class="carousel-indicator" data-slide-to="4"></div>
  </div>
</div>



</div>

<!-- --------------------------------------------------------------------------------- -->
<style>
@media (max-width: 768px) {
    img {
        display: none;
    }
    
}

@media (min-width: 768px) {
img{
    width:0.8%;
}
}
</style>