---
import MainLayout from "../layouts/MainLayout.astro";
import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";
import PrimaryBtn from "../components/PrimaryBtn.astro";
import AccentBtn from "../components/AccentBtn.astro";
import breadcrumb_trial from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import CarrouselScroll from "../components/CarrouselScroll.astro";



---
<MainLayout title="Arbejdernes Tennisklub"/>
<Navigation />


<h1>HYHEDER</h1>

<!-- Indsæt nyhedBIG_verticalScroll -->

<h2>AKTIVITETER</h2>

<!-- Indsæt nyhederSmall -->

<section class="categoryCard_grid1">
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="JUNIOR"
/>
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="SENIOR"
/>
 <CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="MOTIONIST"
/>
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="ELITE"
/>
</section>

<CarrouselScroll />

<!-- --------------------------------------------------------------------------------- -->

<!-- <section class="content"> 
<PrimaryBtn variant="primary1" size="small">TJEK MAKKERBØRS</PrimaryBtn>
<PrimaryBtn variant="primary2" size="small">LÆS MERE OM TRÆNINGEN</PrimaryBtn>

<AccentBtn variant="accent1" size="small">BOOK BANE</AccentBtn>
<AccentBtn variant="accent2" size="small">TILMELD NYHEDSBREV</AccentBtn>
</section> -->

<Footer />