---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Arbejdernes Tennisklub"/>

	
<h1>headline1</h1>
<h2>headline 2</h2>
<h3>headline 3</h3>
<h4>headline 4</h4>
<h5>Headline 5</h5>
<h6>Headline 6</h6>
