---
import MainLayout from "../layouts/MainLayout.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Banner from "../components/Banner.astro";
---

<MainLayout title="Arbejdernes Tennisklub"/>

<div class="main">

<h1>NYHEDER</h1>
<section class="newsBig_grid">
<!-- Indsæt nyhedBIG_verticalScroll -->
</section>

<section class="newsSmall_grid">
<h2>AKTIVITETER</h2>
<!-- Indsæt nyhederSmall -->
</section>

<section class="categoryCard_grid1">
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="JUNIOR"

/>
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="SENIOR"
/>
 <CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="MOTIONIST"
/>
<CategoryCard 
imgPath="../img/Tennisballsracket.webp"
title="ELITE"
/>
</section>

<section class="makkerBors_grid">
<Banner 
src="bannerBg.png"
btnTitle="TJEK MAKKERBØRS"
/>
</section>
</div>

<!-- --------------------------------------------------------------------------------- -->

<!-- <section class="content"> 
<PrimaryBtn variant="primary1" size="small">TJEK MAKKERBØRS</PrimaryBtn>
<PrimaryBtn variant="primary2" size="small">LÆS MERE OM TRÆNINGEN</PrimaryBtn>

<AccentBtn variant="accent1" size="small">BOOK BANE</AccentBtn>
<AccentBtn variant="accent2" size="small">TILMELD NYHEDSBREV</AccentBtn>
</section> -->

<style>
.main {
   
}
</style>