---
import MainLayout from "../layouts/MainLayout.astro";
import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";
import breadcrumb_trial from "../components/BreadCrumb.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="Juniortræning"/>
<Navigation />
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- huks at tilføje links -->
          <li><a href="">Træning</a></li><!-- huks at tilføje links -->
          <li><a href="">Junior</a></li><!-- huks at tilføje links -->
          <li><a href="">Juniortræning</a></li><!-- huks at tilføje links -->
      </ul>
  </nav>
 </section>

 <h1>JUNIORTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

 <Banner 
src="bannerBg.png"
btnTitle="LÆS MERE OM TRÆNING F.EKS"
/>

 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

  <!-- minitennisCard-->

  <!-- clubplayerCard -->

  <!-- teamplayerCard-->

  <!-- eliteplayerCard -->

  <Footer />

  <!-- --------------------------------------------------------------------------------- -->

  <style>

    
  </style>