---
import MainLayout from "../layouts/MainLayout.astro";
/* import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";*/
import Banner from "../components/Banner.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
/* import Footer from "../components/Footer.astro"; */
---
<MainLayout title="Arbejdernes Tennisklub"/>

<main class="traening_grid">
    

 <h1>JUNIORTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

 <Banner 
src="bannerBg.png"
btnTitle="LÆS MERE OM TRÆNING F.EKS"
/>

 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

  <!-- minitennisCard-->

  <!-- clubplayerCard -->

  <!-- teamplayerCard-->

  <!-- eliteplayerCard -->
</main>
  <!-- --------------------------------------------------------------------------------- -->

  <style>
.traening_grid {
display: flex;
flex-direction: column;
padding: 20px;
}


@media (min-width: 768px) {
    .# {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: auto;
}
}
    
  </style>