---
import MainLayout from "../layouts/MainLayout.astro";
import Banner from "../components/Banner.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>

<div class="main">

<section class="breadcrumb_trail">
  <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
  <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
  <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
  <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
  <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
  <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

 <h1>JUNIORTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

 <Banner 
src="bannerBg.png"
btnTitle="PRISER OG INFO"
/>

 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

  <!-- minitennisCard-->

  <!-- clubplayerCard -->

  <!-- teamplayerCard-->

  <!-- eliteplayerCard -->

 <h3>PRISER</h3>
  
</div>

  <!-- --------------------------------------------------------------------------------- -->

  <style>
    .breadcrumb_trail img{ /* pile i brødkrummesti */
    width:0.7%;
}
p{
  color: blueviolet;/* OBS: skriften er pr default hvid */
}
@media (min-width: 768px) {
    .# {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: auto;
}
}
  </style>