---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- huks at tilføje links -->
          <li><a href="">Ledelse</a></li><!-- huks at tilføje links -->
      </ul>
  </nav>
 </section>

 <h1>LEDELSE</h1>

 <h3>BESTYRELSE</h3>
 <h4>ATKs bestyrelse valgt på generalforsamlingen D 8. februar 2024</h4>

  <!-- contactCard-->

 <h3>SEKRETARIAT</h3>
 <h4>Sekretariatet tager sig af alle praktiske ting omkring indmeldelse, udmeldelse, 
    opkrævning af gebyrer og henvendelse til klubben.
 </h4>
  <p>
    Mail: atk@atk-tennis.dk <br>
    Tlf: 38 34 64 38
  </p>

  <!-- contactCard-->
  
  <!-- --------------------------------------------------------------------------------- -->
  
   <style>
  
      
   </style>