---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Navigation from "../components/Navigation.astro";
import Tabel from "../components/Tabel.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import NavigationP from "../components/NavigationP.astro";
---

<MainLayout title="Medlemsskab"/>
<NavigationP HeroImg="../img/medlemskabHero.webp"/>


<div class="main">  
  <section class="content">
    
      <a href="/juniortraening"><BreadCrumb breadtitle="Hjem" /></a>
      <a href="/juniortraening"><BreadCrumb breadtitle="Medlemsskab" /></a>
      <h2>MEDLEMSKAB</h2>
    
        <div id="medlemskab">
          <p class="subheadline" id="status"><span class="red-dot"></span>LUKKET FOR OPTAGELSE AF NYE MEDLEMMER</p>
        </div>
        
      
        <div class="grid-1_2">
          <div>
          <p>Idet vi begrænser os til kun at have ca. 700 fuldtidsmedlemmer, kan man normalt kun blive direkte optaget som dagmedlem.<br><br>
            Juniorer kan som sædvanlig blive medlemmer nårsom helst. Man kan kun være juniormedlem indtil man fylder 18 år.<br><br>
            Vær opmærksom på, at der gør sig forskellige 
            <a href="https://www.atk-tennis.dk/content/%C3%A6ndring" class="paragraphLink">reservationsregler</a>
            gældende afhængigt af, hvilken type medlemskab du har.
            Vi tager regelmæssigt nye ansøgere ind omkring februar efter årsskifte.</p>
          </div>
      
          <Tabel title="MEDLEMSSKAB" hold1="Fuldtidsmedlem"pris1="1.100 kr." hold2="Dagmedlem" pris2="900 kr."hold3="Juniormedlem"pris3="500 kr."hold4="Senioridræt"pris4="200 kr."hold5="Vintermedlem"pris5="200 kr."hold6="Passiv"pris6="100 kr."/>
        </div>

        <div class="spacer">
          <div class="grid-2_2">
          <a href=""><CategoryCard imgPath="../img/reservationsRegler.webp"title="RESERVATIONSREGLER"/> </a>
          <a href=""><CategoryCard imgPath="../img/medlemskab.webp"title="ANSØG OM MEDLEMSKAB"/></a>
          <a href=""><CategoryCard imgPath="../img/nytMedlem.webp"title="NYT MEDLEM"/></a>
          <a href=""><CategoryCard imgPath="../img/ændreMedlemskab.webp"title="ÆNDRE MEDLEMSKAB"/></a>
        </div>
      </div>
      
    </section>
    </div>
 

  <Footer />




 <style>

#medlemskab {
  margin: 3% 0%;
}

#status {
  color: red;
}

.red-dot {
  width: 18px; 
  height: 18px; 
  background-color: red;
  margin-right: 10px; 
  border-radius: 50%; 
  display: inline-block;
 
} 

@media only screen and (max-width: 768px) {
  .red-dot {
    width: 10px;
    height: 10px;
    margin-right: 5px; 
  }
}
 </style>