---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
---

<MainLayout title="Medlemsskab"/>
<Navigation />

<div class="main">

<section class="breadcrumb_trail">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

<h1>MEDLEMSKAB</h1>

<h3>LUKKET FOR OPTAGELSE AF NYE MEDLEMMER</h3> <!-- HUSK at tilføje den røde prik plus rigtige font størrelse -->

<p>
    Idet vi begrænser os til kun at have ca. 700 fuldtidsmedlemmer, kan man normalt kun blive direkte optaget som dagmedlem.
    Juniorer kan som sædvanlig blive medlemmer nårsom helst. Man kan kun være juniormedlem indtil man fylder 18 år.
    Vær opmærksom på, at der gør sig forskellige reservationsregler gældende afhængigt af, hvilken type medlemskab du har.
    Vi tager regelmæssigt nye ansøgere ind omkring februar efter årsskifte.
</p>

</Footer >

<!-- Indsæt medlemskabstabel -->

<section class="categoryCard_grid4">
    <a href="">
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="RESERVATIONSREGLER"/>
    </a>

    <a href=""></a>
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="ANSØG OM MEDLEMSKAB"/>
    </a>

    <a href=""></a>
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="NYT MEDLEM"/>
    </a>

    <a href=""></a>
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="ÆNDRE MEDLEMSKAB"/>
    </a>
 </section>

</div>

 <!-- --------------------------------------------------------------------------------- -->

 <style>
.breadcrumb_trail img{ /* pile i brødkrummesti */
    width:0.7%;
}

p{
  color: blueviolet;/* OBS: skriften er pr default hvid */
}
 </style>