---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>

<div class="main">

<section class="breadcrumb_trail">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

<h1>MOTIONISTTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

<h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

<!-- motionistCard-->

<h3>PRISER</h3>

<p>Hvert år forsøger vi at nå bredt ud til ATK’s medlemmer ved at tilbyde træning for voksne af alle niveauer. 
  Bemærk at du ikke kan afmelde eller flytte din træningstid efter købet, men du kan kommunikere med andre ATK-medlemmer 
  om at bytte plads indbyrdes/ afsætte din plads til et andet ATK-medlem af samme spilstyrke som dig selv.
</p>

<!-- Indsæt tabel-->

</div>

<!-- --------------------------------------------------------------------------------- -->

<style>
.breadcrumb_trail img{ /* pile i brødkrummesti */
    width:0.7%;
}

p{
  color: blueviolet;/* OBS: skriften er pr default hvid */
}
 </style>