---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import breadcrumb_trial from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="Motionist træning" />
<Navigation />
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- husk at tilføje links -->
          <li><a href="">Motionnistræning</a></li><!-- husk at tilføje links -->
      </ul>
  </nav>
</section>

<h1>MOTIONISTTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

<h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

<!-- motionistCard-->


<p>Hvert år forsøger vi at nå bredt ud til ATK’s medlemmer ved at tilbyde træning for voksne af alle niveauer. 
  Bemærk at du ikke kan afmelde eller flytte din træningstid efter købet, men du kan kommunikere med andre ATK-medlemmer 
  om at bytte plads indbyrdes/ afsætte din plads til et andet ATK-medlem af samme spilstyrke som dig selv.
</p>

<!-- Indsæt tabel-->
<Footer />
<!-- --------------------------------------------------------------------------------- -->

 <style>

    
 </style>