---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
import NavigationP from "../components/NavigationP.astro";
---

<MainLayout title="Om ATK"/>
<NavigationP HeroImg="../img/omatkHero.webp"/>


<div class="main">
  <section class="content">

      <a href="/motionisttraening"><BreadCrumb breadtitle="Hjem"/></a>
      <a href="/elitetraening"><BreadCrumb breadtitle="Om ATK"/></a>
      <h2>OM ATK</h2>

      <div class="flexboxcenterColumn">
        <img class="membersIcon" src="../img/svg/Icon.svg" alt="Gruppemedlemsikon">
        <h4>1418 MEDLEMMER<h3>
      </div>

      <div class=grid-2_4>
          <div class="tennisbaner">
            <img src="../img/svg/tennisCourt_red.svg" alt="Rød tennisbane">
            <p>2 RedPlus baner</p>
          </div>

          <div class="tennisbaner">
            <img src="../img/svg/tennisCourt_orange.svg" alt="Orange tennisbane">
            <p>8 Grusbaner</p>
          </div>

          <div class="tennisbaner">
            <img src="../img/svg/padelCourt.svg" alt="Grøn tennisbane">
            <p>2 Padelbaner</p>
          </div>

          <div class="tennisbaner">
            <img src="../img/svg/tennisCourt_blue_1.svg" alt="Blå tennisbane">
            <p>2 Hardcourtbaner (Indendørs)</p>
          </div>
      </div>



      <div class=grid-2_3>

          <p>Arbejdernes Tennisklub er grundlagt i 1928 og ligger som en lille byoase på Genforeningspladsen i København NV. ATK råder over 10 udendørs tennisbaner, herunder to helårs RedPlus baner, to padelbaner samt to  indendørs hardcourtbaner.</p>
          <div><img></div>

          <p>Arbejdernes Tennisklub tror på at skabe en inkluderende og støttende atmosfære, hvor folk fra alle samfundslag kan dyrke deres kærlighed til tennis. Uanset om man er en erfaren spiller eller nybegynder, er klubben et sted, hvor man kan udvikle sine færdigheder, opbygge venskaber og nyde den sunde konkurrence.Klubbens medlemmer har adgang til træningstimer, booke baner med medspillere, sociale turneringer og andre aktiviteter designet til at fremme både sporten og fællesskabet blandt medlemmerne.</p>
          <div><img></div>

          <p>Vi påtager os et socialt ansvar ved at  tilbyde adgang til tennisspil og -faciliteter til en bred vifte af medlemmer, uanset baggrund eller økonomisk status. Tennis som sport og fællesskab skal ideelt set være tilgængelig for alle. Økonomi må ikke være en barriere for at kunne spille og engagere sig i tennis.</p>
          <div><img></div>


          <p> Med et fokus på at gøre tennis tilgængelig for alle, tilbyder klubben ofte særlige medlemskabspriser og programmer for dem, der måske ikke har råd til traditionelle sportsklubber. Arbejdernes Tennisklub er mere end bare en sportsklub; det er et fællesskab, der binder medlemmer sammen gennem deres kærlighed til sporten og deres ønske om at støtte hinanden i at opnå deres bedste.</p>
          <div><img></div>     
      </div>

  </section>
</div>



<style>

.membersIcon {
width: 21%;
}

.tennisbaner{
  display: flex;
  align-items:center;
  flex-direction: column;
  white-space: nowrap;
  width: 20%;
  justify-self: center; /* Center the item in the grid cell */
  }



</style>