---
import MainLayout from "../layouts/MainLayout.astro";
import BreadCrumb from "../components/BreadCrumb.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>

<div class="main">

<section class="breadcrumb_trail">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <img src="../img/svg/arrowLeft 1.svg" alt="Pil">
    <a href="/juniortraening"><BreadCrumb breadtitle="Junior"/></a>
    <a href="/seniortraening"><BreadCrumb breadtitle="Senior"/></a>
    <a href="/motionisttraening"><BreadCrumb breadtitle="Motionist"/></a>
    <a href="/elitetraening"><BreadCrumb breadtitle="Elite"/></a>
</section>

<h1>SENIORTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

<!-- holdCard-->

<h3>PRISER</h3>

<p>Seniortræning er for klubbens 4-8. hold- og veteranspillere. Aktuelle spillere 
  bliver inviteret via mail.</p>


<!-- Indsæt tabel-->



</div>


<!-- --------------------------------------------------------------------------------- -->

<style>
    .breadcrumb_trail img{ /* pile i brødkrummesti */
        width:0.7%;
    }
    
    p{
      color: blueviolet;/* OBS: skriften er pr default hvid */
    }
    </style>