---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>



<h1>SEIORTRÆNING 2024</h1>

 <!-- Indsæt træningsInfo-->

 <!-- Indsæt contactCard -->

 <h3>HOLD- OG TRÆNINGSTIDSPUNKTER</h3>

<!-- holdCard-->


<p>Seniortræning er for klubbens 4-8. hold- og veteranspillere. Aktuelle spillere 
  bliver inviteret via mail.</p>


<!-- Indsæt tabel-->

<!-- --------------------------------------------------------------------------------- -->

 <style>

.breadcrumb_list {
    list-style: none;
    display: flex;
    padding: 0;
}

.breadcrumb_list li {
    margin-right: 5px;
    position: relative;
}

.breadcrumb_list li+li:before {
    content: "/";
    color: var(--text-black);
    margin-left: 9px;
    margin-right: 14px;
}

.breadcrumb_list li a {
    text-decoration: none;
    color: var(--text-black); 
}

 /* .breadcrumb_list a {
    text-decoration: none;
    color: var(--text-black);
}  */

.breadcrumb_list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #e18802; /* Adjust color as needed */
    transition: width 0.3s ease;
}

.breadcrumb_list a:hover::after {
    width: 100%;
    position: absolute;
}

 </style>