---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Arbejdernes Tennisklub"/>
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="">Hjem</a></li><!-- huks at tilføje links -->
          <li><a href="">Titel på nyhed nyhed</a></li><!-- husk at tilføje links -->
      </ul>
  </nav>
</section>

<h1>RUTINEREDE VETERANER VINDER DM</h1>

<h2>ATK'S VETERANER SKRIVER HISTORIE OG VINDER ADSKILLIGE MEDALJER VED DM</h2><!-- tilføj en stor p til main.css og ændre h2 -->

<p>  
  Så blev der skrevet ATK tennishistorie. ATK’s Veteran A 50+ vandt guldmedalje i DM for hold i den forgangne weekend, 
  som blev spillet på Hareskov-Værløses tennisanlæg. Sølvmedaljen gik til Risskov som ATK mødte søndag i et meget 
  spændende finalespil, efter at ATK have slået Fruens Bøge lørdag. De sidste år har ATK vundet sølv, men denne gang lykkedes 
  det at hive guldet hjem.

  Alle spillere ydede en rigtig flot indsats og lykønskningerne kom frem uden for banen, da Anja Biltoft og Birthe Henriksen 
  havde vundet 1. sæt i deres DD, som betød sejr til ATK. En DD de i øvrigt vandt i fin stil. Forud for det havde Per Bach 
  ydet en fantastisk mental og fysisk præstation, da han i sin HS, hvor han var nede henholdsvis 2-5 og 1-4, kom tilbage og 
  vandt i 2 sæt 7/5, 6/4.

  Ivan og Steen spillede også HD i forrygende stil, hvor de vandt i 2 sæt over Riskov’s ellers meget stærke 1. HD. Det var et 
  stort fællesstævne, hvor der blev dyster i 40+, 50+, 60+ og 70+. 
  
  Turneringen blev varetaget af Danske Tennisveteraner og bar som vanligt præg af stor organisation, flot spil og super fed 
  stemning.
</p>

<!-- Indsæt billed -->

 <!-- --------------------------------------------------------------------------------- -->
 
 <style>
 
     
 </style>