---
import MainLayout from "../layouts/MainLayout.astro";
import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";

---
<MainLayout title="Arbejdernes Tennisklub"/>

<section class="categoryCard_grid2">
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="JUNIOR"
    />
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="SENIOR"
    />
     <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="MOTIONIST"
    />
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="ELITE"
    />
    </section>
