---
import MainLayout from "../layouts/MainLayout.astro";
import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";
import Tabel from "../components/Tabel.astro";

---
<MainLayout title="Arbejdernes Tennisklub"/>

<section class="categoryCard_grid2">
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="JUNIOR"
    />
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="SENIOR"
    />
     <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="MOTIONIST"
    />
    <CategoryCard 
    imgPath="../img/Tennisballsracket.webp"
    title="ELITE"
    />
    </section>

    <Tabel />
    <Tabel 
    title="Hold"
    hold1="Minitennis 1x/ugen"
    pris1="800 kr."
    hold2="Minitennis 2x/ugen"
    pris2="1.200 kr."
    hold3="Klubspiller 1x/ugen"
    pris3="800 kr."
    hold4="Klubspiller 2x/ugen"
    pris4="1.200 kr."
    hold5="Klubspiller 3x/ugen"
    pris5="1.600 kr."
    hold6="Turneringsspiller 2-4x/ugen"
    pris6="1.600 kr."
    >
  
   
    