---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import breadcrumb_trial from "../components/BreadCrumb.astro";
import CategoryCard from "../components/CategoryCard.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout />
<Navigation />
<section>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb_list">
          <li><a href="/index.astro">Hjem</a></li><!-- huks at tilføje links -->
          <li><a href="/udvalg.astro">Udvalg</a></li><!-- husk at tilføje links -->
      </ul>
  </nav>
</section>

<h1>UDVALG</h1>

<h3>BREDDEUDVALG</h3>
<h4>Udvalget står for at lave arrangementer for bredden i klubben, bl.a. Hyg-ing og Motionisttræning.</h4>

 <!-- contactCard-->

<h3>SENIORUDVALG</h3>
<h4>Seniorholdudvalget tager sig af 4.-7. hold, veteran B hold samt puljeturnering.</h4>

 <!-- contactCard-->

 <h3>JUNIORUDVALG</h3>
 <h4>Juniorudvalgets (den daglige ledelse) opgave er at udstikke de overordnede rammer, struktur og retningslinjer for juniorafdelingen.</h4>

 <!-- contactCard-->

 <h3>ELITEUDVALG</h3>
 <h4>Eliteudvalget beskæftiger sig med klubrangliste, træning og arrangementer for klubbens elitespillere.</h4>

 <!-- contactCard-->

 <h3>TURNERINGSUDVALG</h3>
 <h4>Udvalget arrangerer tilbagevendende klubturneringer- og aktiviteter.</h4>

 <!-- contactCard-->

 <h3>IT- OG KOMMUNIKATIONSUDVALG</h3>
 <h4>Udvalget står b.la. for udsendelse af ATK-NYT, nyhedsbreve og vedligeholdelse af hjemmesiden.</h4>
 
 <!-- contactCard-->

 <Footer />
 <!-- --------------------------------------------------------------------------------- -->
 
  <style>
 
     
  </style>