---

---

<!-- grøn banebooking-knap i header -->
<article>
    <button>BOOK BANE</button>
</article>

<!-- grøn nyhedsbrev-knap i footer -->
<article>
    <h4>Din e-mail</h4>
    <button>TILMELD NYHEDSBREV</button>
</article>


<style>



</style>

<script>

    
</script>