---
import "../styles/main.css";
import "../styles/pc_style.css";
---

<ul>
<li><a href="#">Hjem</a></li>
<li><a href="#">Træning</a></li>
<li><a href="#">Aktiviteter</a></li>
<li><a href="#">Medlemskab</a></li>
<li><a href="#">Om ATK</a></li>
<li><a href="#">Juniortræning</a></li>
<li><a href="#">Motionisttræning</a></li>
<li><a href="#">Seniortræning</a></li>
<li><a href="#">Elitetræning</a></li>
<li><a href="#">Ledelse</a></li>
<li><a href="#">Udvalg</a></li>
<li><a href="#">Alle Nyheder</a></li>
<li><a href="#">Rutinerede veteraner vinder..</a></li>
<li><a href="#">Doubleturnering udendørs..</a></li>
</ul>
