---
import "../styles/main.css";
import "../styles/pc_style.css";
---

<ul class="breadcrumb_trial">
<li><a href="#"><h2>Hjem</h2></a></li>
<li><a href="#"><h2>Træning</h2></a></li>
<li><a href="#"><h2>Aktiviteter</h2></a></li>
<li><a href="#"><h2>Medlemskab</h2></a></li>
<li><a href="#"><h2>Om ATK</h2></a></li>
<li><a href="#"><h2>Juniortræning</h2></a></li>
<li><a href="#"><h2>Motionisttræning</h2></a></li>
<li><a href="#"><h2>Seniortræning</h2></a></li>
<li><a href="#"><h2>Elitetræning</h2></a></li>
<li><a href="#"><h2>Ledelse</h2></a></li>
<li><a href="#"><h2>Udvalg</h2></a></li>
<li><a href="#"><h2>Alle Nyheder</h2></a></li>
<li><a href="#"><h2>Rutinerede veteraner vinder..</h2></a></li>
<li><a href="#"><h2>Doubleturnering udendørs..</h2></a></li>
</ul>

<style> 
    .breadcrumb_list {
       list-style: none;
       display: flex;
       padding: 0;
   }
   
   .breadcrumb_list li {
       margin-right: 5px;
   }
   
   .breadcrumb_list li+li:before {
       content: "/";
       margin-left: 9px;
       margin-right: 14px;
   }
   
   .breadcrumb_list a {
       text-decoration: none;
       color: var(--primaryColor);
   }
   
   .breadcrumb_list a:hover {
       text-decoration: underline;
   }
   </style>