---
const { breadtitle } = Astro.props;
--- 

<section class="breadcrumb_trail">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb_list">
            <li><img src="../img/svg/arrowLeft_1.svg" alt="Pil"><span>{breadtitle} </span></li>
        </ol>
    </nav>
</section>


<style> 
 
    .breadcrumb_trail {
        display: inline-block;
    }
    .breadcrumb_list {
        list-style: none;
        display: flex;
        padding: 0;
    }
    
    .breadcrumb_list img {
        width: 8px;
        margin-right: 5px;
    }
    .breadcrumb_list li {
        text-decoration: none;
        color: var(--text-black);
        position: relative;
        padding-right: 10px;
        transition: transform 0.3s ease;
    }

    .breadcrumb_list li:hover {
    transform: translateX(-7px);
    
}
    .breadcrumb_list li span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%; 
        height: 2px;
        background-color: var(--primaryColor);
        visibility: hidden;
    }
    .breadcrumb_list li:hover span::after {
        visibility: visible;
    }
    
</style>
