---
const { title, imgPath } = Astro.props;
---

<section class="grid-card">
  <div class="category-card">
   <div class="content-card">
     <img class="background-img" src={imgPath} alt="Tennisracket" />
     <div class="gradient-card"></div> <!-- Gradient overlay -->
     <h3>
        {title}
     </h3>
   </div>
  </div>
</section>

<style> 
.grid-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .category-card {
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--primaryColor);
    overflow: hidden;
    width: 328px;
    height: 208px;
    margin: 20px;
  }
  .content-card {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
   .background-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 3;
  } 
  .gradient-card {
    position: absolute;
    margin-top: 85px;
    left: 0;
    width: 100%;
    height: 60%;
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); Gradient colors */
    background: linear-gradient(to top, rgba(255, 111, 0, 0.741), transparent); /* Orange to transparent gradient */
    z-index: 5;
  }
 h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin-top: 160px;
    z-index: 6;
  }
  a{
    text-decoration: none;
  }
 
  @media (min-width: 768px)
 {
  .category-card {
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--primaryColor);
    overflow: hidden;
    width: 328px;
    height: 208px;
    margin: 20px;
    transition: transform 0.3s;/* smoother transition combined with the hovering */
  } 
  .category-card:hover{
    transform: scale(1.1);
  }
 }
</style>

