---
import "../styles/main.css";
import "../styles/pc_style.css";

---

<header>
    <a href="index.astro" id="atkLogo"> <img src="/img/atklogo.webp" alt="logo"></a>
    <nav>
        <a>TRÆNING</a>
        <a>AKTIVITETER</a>
        <a>MEDLEMSSKAB</a>
        <a id="noBorder">OM ATK</a>
    </nav>
    <div class="navBtns">
        <a href=".." id="baneBook">BOOK BANE</a>
        <a href="..." id="baneTilstand"><img src="/img/courtCondition_icon.png" alt="baneTilstand"></a>
    </div>
    <div id="menu-toggle">&#9776;</div> 
    <div id="close-menu">&#10006;</div> 
</header>

<div class="heroVideo">
    <video autoplay muted loop>
      <source src="https://saaa.dk/kea/09_indhold/hero_itmv.webm" type="video/webm">
    </video>
</div>


<style>
  .heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh; 
    overflow: hidden; 
}

.heroVideo video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#menu-toggle {
    display: none;
  }

  #close-menu {
    display: none;
}

header {
            background-color: var(--text-white);
            display: flex;
            align-items: center;
            justify-content: space-between; 
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 70%);
            height: 150px;
            position: relative; 
            z-index: 10;
        }

        #atkLogo {
            width: 80px;
            height: auto;
            margin-left: var(--spacing-large);
        }

        nav {
            display: flex;
            justify-content: flex-end; 
            padding: 10px;
        }

        nav a {
            color: var(--text-black);
            text-decoration: none;
            padding: 0px 15px;
            border-right: 1px solid var(--text-black);
        }

        nav a:hover {
            color: var(--primaryColor);
            scale: 1.05;
        }

        #noBorder {
            border-right: none;
        }

        .navBtns {
            margin-right: var(--spacing-large);
             display: flex;
             align-items: center;
        }

        #baneTilstand {
            width: 50px;
            height: auto;
            margin-top: 5%;
            margin-left: var(--spacing-medium);
        }
        
        #baneBook {
            text-decoration: none;
            width: 150px;
            background-color: var(--secondaryColor);
            color: var(--text-white);
            text-align: center;
            padding: 5%
            
        }


     @media only screen and (max-width: 600px) {

        header {
            position: relative;
            z-index: 1;
            clip-path: none;
            height: 150px;
        }
        nav {
            display: none; 
            flex-direction: column; 
            top: 200px;
            width: 100%;
            height: calc(70vh - 200px);
            position: absolute;
            background-color: var(--primaryColor);
    }
  
    nav a {
      color: var(--text-white);
      border-right: none;
      padding: 10px;
      text-align: center;
      width: 100%;
    }

    

    #menu-toggle, #close-menu {
        display: block;
        padding: 10px;
        color: var(--text-black);
    }
    #menu-toggle {
        font-size: 2.74em;
    }

    #close-menu {
        display: none;
        font-size: 3em;
    }



}

</style>

<script>
   document.addEventListener('DOMContentLoaded', function () {
    var menuToggle = document.getElementById('menu-toggle');
    var closeMenu = document.getElementById('close-menu');
    var nav = document.querySelector('nav');
  
    menuToggle.addEventListener('click', function () {
        nav.style.display = 'flex';
        menuToggle.style.display = 'none';
        closeMenu.style.display = 'block';
    });

    closeMenu.addEventListener('click', function () {
        nav.style.display = 'none';
        menuToggle.style.display = 'block';
        closeMenu.style.display = 'none';
    });
});
</script>
 