---
const HeroImg = Astro.props.HeroImg;
import PrimaryButton from "../components/PrimaryButton.astro";
---

<header>
  <a href="/" id="atkHome"><img src="/img/atkHome.webp" alt="logo" /></a>
  <nav class="navContainer">
    <div class="dropdown">
      <a href="/traening">TRÆNING</a>
      <div class="arrow"></div>
      <div class="dropdown-content">
        <a href="/juniortraening">Juniortræning</a>
        <a href="/motionisttraening">Motionisttræning</a>
        <a href="/seniortraening">Seniortræning</a>
        <a href="/elitetraening">Elitetræning</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="/aktiviteter">AKTIVITETER</a>
      <div class="arrow"></div>
      <div class="dropdown-content">
        <a href="https://www.atk-tennis.dk/content/klubmesterskaber-2023">Klubmesterskaber</a>
        <a href="https://www.atk-tennis.dk/content/indspilningsturnering-2024">Indspilningsturnering</a>
        <a href="https://www.atk-tennis.dk/content/doubleturnering-2023">Doubleturnering</a>
        <a href="https://www.atk-tennis.dk/content/atk-liga-2024">ATK Liga</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="/medlemskab">MEDLEMSKAB</a>
     <div class="arrow"></div>
      <!-- <div class="dropdown-content">
        <a href="https://www.atk-tennis.dk/content/fakta-om-atk">Reservationsregler</a>
        <a href="https://www.atk-tennis.dk/sites/default/files/ATK-Indmeldelsesfolder-2022.pdf">Nyt medlem</a>
        <a href="https://www.atk-tennis.dk/content/medlemskab">Ansøg om medlemskab</a>
        <a href="https://www.atk-tennis.dk/content/%C3%A6ndring-af-medlemskab">Ændre medlemskab</a>
      </div> -->
    </div>
    <div class="dropdown">
      <a href="/omatk" id="noBorder">OM ATK</a>
      <div class="arrow"></div>
      <div class="dropdown-content">
        <a href="allenyheder">Nyheder</a>
        <a href="ledelse">Ledelse</a>
        <a href="udvalg">Udvalg</a>
      </div>
    </div>
  </nav>
  <div class="flexboxCenter">
    <PrimaryButton btnText="BOOK BANE" link="https://atk.halbooking.dk/newlook/default.asp?pid=00" />
    <a id="baneTilstand"><img src="/img/courtCondition_icon.png" alt="Vejr ikon" /></a>
  </div>
  <div>
    <div id="menu-toggle">&#9776;</div>
    <div id="close-menu">&#10006;</div>
  </div>
</header>
  

<!-- <div class="weatherWidget">
<div id="ww_4840c547744da"  v='1.3' loc='id' a='{"t":"horizontal","lang":"da","sl_lpl":1,"ids":["wl1596"],"font":"Arial","sl_ics":"one","sl_sot":"celsius","cl_bkg":"#892911","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#FFFFFF","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FFFFFF"}'><a href="https://weatherwidget.org/" id="ww_4840c547744da_u" target="_blank">Html weather widget</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_4840c547744da"></script>
</div>   -->


<style>
  .fpHeadline {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  .fpHeadline h3 {
    color: white;
  }

  .fpBtns {
    margin: 0px 5%;
  }

  .weatherWidget {
    display: none;
    position: absolute;
    top: 16%;
    right: var(--spacing-large);
    width: 225px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-white);
    padding-left: var(--spacing-large);
    height: 125px;
    width: 100%;
    position: relative;
    z-index: 20;
  }

  nav a {
    font-size: 1rem;
    color: var(--text-black);
    margin-bottom: 20px;
  }

  nav a:hover {
    color: var(--primaryColor);
  }
  .dropdown {
    display: flex;
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  .dropdown img {
    width: 12px;
    height: auto;
  }

  .dropdown > a::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("/img/svg/arrowDown_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    transition: background-image 0.3s ease;
  }

  .dropdown:hover > a::after {
    background-image: url("/img/svg/redarrowDown_1.svg"); /* Replace with the new arrow image */
  }

  .dropdown-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: var(--text-white);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.4s ease forwards;
    z-index: 30;
    transition: color 0.3s ease;
  }

  .dropdown-content a {
    font-size: 0.8rem;
    padding: 10px 10px 10px 10px;
    color: var(--text-black);
    text-decoration: none;
    display: block;
    border: none;
  }

  .dropdown-content a:hover {
    background-color: var(--primaryColor);
    color: var(--text-white);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.5s forwards;
  }
  .navBtns {
    display: flex;
    align-items: center;
  }

  #baneTilstand {
    width: 42px;
    height: auto;
    margin-top: 5%;
    margin-left: var(--spacing-small);
  }

  #baneTilstand {
    width: 42px;
    height: auto;
    margin-top: 5%;
    margin-left: var(--spacing-small);
    transition: transform ease 0.5s;
  }

  #baneTilstand:hover {
    transform: scale(1.1);
    cursor: pointer;
  }


.heroWrapper {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.heroImg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.heroImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 10%; /* Adjust the vertical position of the image */
}

  #menu-toggle #close-menu {
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOutToTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes slideInFrom150 {
    0% {
      transform: translateY(150px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOutTo150 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(150px);
    }
  }

  @media only screen and (max-width: 1024px) {
    header {
      position: fixed;
      height: 75px;
      padding: 15px 0px 0px 0px;
    }
    nav {
      display: none;
      flex-direction: column;
      top: 75px;
      width: 100%;
      height: 100vh;
      position: absolute;
      background-color: var(--primaryColor);
    }

    .navContainer {
      display: none;
      flex-direction: column;
      transition: margin-top 0.5s ease; /* Apply transition effect */
    }

    .navContainer.opened {
      margin-top: 200px; /* Adjust as needed */
    }

    nav a {
      font-weight: bold;
      font-size: 1.5rem;
      color: var(--text-white);
      border-right: none;
      margin-left: 5%;
      padding: 10px;
      width: 100%;
      animation: fadeIn 2.5s ease forwards;
    }

    .dropdown {
      margin-top: 10%;
    }

    .dropdown-content {
      position: relative;
      background-color: var(--primaryColor);
      margin-left: 5%;
      box-shadow: none;
    }

    .dropdown-content a {
      animation: none;
      color: white;
    }

    #baneTilstand {
      width: 36px;
    }

    nav.active {
      animation: slideInFromTop 0.7s forwards;
    }

    nav.reverse {
      animation: slideOutToTop 0.7s forwards;
    }

    #menu-toggle,
    #close-menu {
      display: block;
      margin-right: var(--spacing-small);
      color: var(--text-black);
    }

    #menu-toggle {
      font-size: 36px;
    }

    #close-menu {
      display: none;
      font-size: 36px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var menuToggle = document.getElementById("menu-toggle");
    var closeMenu = document.getElementById("close-menu");
    var nav = document.querySelector("nav");
    var weatherWidget = document.querySelector(".weatherWidget") as HTMLDivElement;
    var baneTilstand = document.getElementById("baneTilstand");

    menuToggle.addEventListener("click", function () {
      nav.style.display = "flex";
      nav.classList.remove("reverse");
      nav.classList.add("active");
      menuToggle.style.display = "none";
      closeMenu.style.display = "block";
    });

    closeMenu.addEventListener("click", function () {
      nav.classList.remove("active");
      nav.classList.add("reverse");
      setTimeout(function () {
        nav.style.display = "none";
      }, 500);
      menuToggle.style.display = "block";
      closeMenu.style.display = "none";
    });

    baneTilstand.addEventListener("click", function () {
      if (weatherWidget.style.display === "block") {
        weatherWidget.style.display = "none";
        weatherWidget.style.opacity = "0";
      } else {
        weatherWidget.style.display = "block";
        weatherWidget.style.opacity = "1";
      }
    });
  });
</script>
