---
import "../styles/main.css";
import "../styles/pc_style.css";

---

<header>
  <div class="headerContent">
  
    <a href="/index" id="atkHome"> <img src="/img/atkHome.webp" alt="logo"></a>
    
  
    <nav>
      
        <a href="/traening">TRÆNING</a>
        <a href="/aktiviteter">AKTIVITETER</a>
        <a href="/medlemskab">MEDLEMSSKAB</a>
        <a href="/omatk" id="noBorder">OM ATK</a>
    </nav>
    <div class="navBtns">
        <a href=".." id="baneBook">BOOK BANE</a>
        <div id="baneTilstand"><img src="/img/courtCondition_icon.png" alt="baneTilstand"></div>
      
    </div>
    <div id="menu-toggle">&#9776;</div> 
    <div id="close-menu">&#10006;</div>     
  </div>
</header>




<div class="heroVideo">
    <video autoplay muted loop>
      <source src="https://saaa.dk/kea/09_indhold/hero_itmv.webm" type="video/webm">
    </video>
</div>

<style>

.weather-widget {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-weather, .rainfall {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}
header {
            background-color: var(--text-white);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 70%);
            height: 150px;
            width: 100%;
            position: relative; 
            z-index: 10;
        }

        .headerContent {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 var(--spacing-large);
        }

        nav {
          display: flex;
          margin: var(--spacing-medium) 0;
        }

        nav a {
            color: var(--text-black);
            text-decoration: none;
            padding: 0px 15px;
            border-right: 1px solid var(--text-black);
        }

        nav a:hover {
            color: var(--primaryColor);
            scale: 1.05;
        }

        #noBorder {
            border-right: none;
        }

        .heroVideo {
            position: absolute;
             top: 0;
            left: 0;
            width: 100%;
            height: 90vh; 
            overflow: hidden; 
        }

        .heroVideo video {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover; 
        } 

        .navBtns {
          position: relative;
             display: flex;
             align-items: center;

        }

        #baneTilstand {
            width: 42px;
            height: auto;
            margin-left: var(--spacing-medium);
        }
        
    #weatherWidget {
    display: none; /* Initially hide the widget */
    position: absolute;
    top: 100px;
    right: var(--spacing-large);
    width: 215px;
    border-radius: 4px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease; /* Add top transition */
}

#baneTilstand:hover + #weatherWidget {
    display: block; /* Show the widget */
    animation: slideInFromTop 0.5s forwards; /* Slide in animation */
    opacity: 1;
}
        #baneBook {
            text-decoration: none;
            background-color: var(--secondaryColor);
            color: var(--text-white);
            text-align: center;
            padding: 10px 20px;
            border-radius: 4px;
        }
        #baneBook:hover {
          background-color: var(--secondaryColor_dark);
        }

    
        #menu-toggle {
            display: none;
        }

        #close-menu {
            display: none;
        }

        @keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideInFrom150 {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutTo150 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(150px);
  }
}



@media only screen and (max-width: 1170px) {
  a {
    font-size: 0.8rem;
}
}
@media only screen and (max-width: 924px) {
  a {
    font-size: 0.7rem;
}
#baneTilstand {
  width: 36px;
}

nav a {
  padding: 0px 6px;
          
        }
}

     @media only screen and (max-width: 768px) {
        header {
            position: relative;
            z-index: 1;
            clip-path: none;
            height: 60px;
        }

        #baneTilstand {
            width: 36px;
         
        }
        .headerContent {
          margin: 0;
        }

        #atkHome {
          margin-left: var(--spacing-small)
        }

        .navBtns {
          margin-right: var(--spacing-small)
        }

        #baneTilstand {
            margin-left: var(--spacing-small);
        }

        nav {
            display: none; 
            flex-direction: column; 
            margin:0;
            top: 60px;
            width: 100%;
            height: 800px;
            position: absolute;
            background-color: var(--primaryColor);
            transition: height 0.5s ease;
    }
    nav.active {
  animation: slideInFromTop 0.5s forwards; /* Apply slide in animation */
}

nav.reverse {
  animation: slideOutToTop 0.5s forwards; /* Apply slide out animation */
}
    
    nav a {
      font-size: 1.2rem;
      color: var(--text-white);
      border-right: none;
      padding: 10px;
      text-align: center;
      width: 100%;
    }

   #atkText {
    display: none;
   }

    #menu-toggle, #close-menu {
        display: block;
        margin-right: var(--spacing-small);
        color: var(--text-black);
    }
    #menu-toggle {
        font-size: 2.2em;
    }

    #close-menu {
        display: none;
        font-size: 2.6em;
    }

    
}

</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var menuToggle = document.getElementById('menu-toggle');
  var closeMenu = document.getElementById('close-menu');
  var nav = document.querySelector('nav');
  var weatherWidget = document.getElementById('weatherWidget');
  var baneTilstand = document.getElementById('baneTilstand');

  menuToggle.addEventListener('click', function () {
    nav.style.display = 'flex';
    nav.classList.remove('reverse'); 
    nav.classList.add('active'); 
    menuToggle.style.display = 'none';
    closeMenu.style.display = 'block';
  });

  closeMenu.addEventListener('click', function () {
    nav.classList.remove('active'); // Remove active animation class
    nav.classList.add('reverse'); // Add reverse animation class
    setTimeout(function () {
      nav.style.display = 'none'; // Hide navigation menu after animation
    }, 500); // Adjust the delay to match the animation duration
    menuToggle.style.display = 'block';
    closeMenu.style.display = 'none';
  });

  baneTilstand.addEventListener('click', function () {
    if (weatherWidget.style.display === 'block') {
      weatherWidget.style.display = 'none';
      weatherWidget.style.opacity = '0';
    } else {
      weatherWidget.style.display = 'block';
      weatherWidget.style.opacity = '1';
    }
  });
  
});

</script>
 