---
import "../styles/main.css";
import "../styles/pc_style.css";

---

<header>
  <div class="headerContent">
    <a href="index.astro" id="atkLogo"> <img src="/img/atklogo.webp" alt="logo"></a>
    <a href="index.astro" id="atkText"> <img></a>
    <nav>
        <a href="/traening">TRÆNING</a>
        <a href="/aktiviteter">AKTIVITETER</a>
        <a href="/medlemsskab">MEDLEMSSKAB</a>
        <a href="/omatk" id="noBorder">OM ATK</a>
    </nav>
    <div class="navBtns">
        <a href=".." id="baneBook">BOOK BANE</a>
        <a href="..." id="baneTilstand"><img src="/img/courtCondition_icon.png" alt="baneTilstand"></a>
        <div id="menu-toggle">&#9776;</div> 
        <div id="close-menu">&#10006;</div>     
    </div>
  </div>
</header>

<div class="heroVideo">
    <video autoplay muted loop>
      <source src="https://saaa.dk/kea/09_indhold/hero_itmv.webm" type="video/webm">
    </video>
</div>


<style>
header {
            background-color: var(--text-white);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 70%);
            height: 150px;
            width: 100%;
            position: relative; 
            z-index: 10;
        }

        .headerContent {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 var(--spacing-large);
        }
    
        nav {
            margin: var(--spacing-large);
            display: flex;
            padding: 10px;
        }

        nav a {
            color: var(--text-black);
            text-decoration: none;
            padding: 0px 15px;
            border-right: 1px solid var(--text-black);
        }

        nav a:hover {
            color: var(--primaryColor);
            scale: 1.05;
        }

        #noBorder {
            border-right: none;
        }

        .navBtns {
             display: flex;
             align-items: center;

        }

        #baneTilstand {
            width: 42px;
            height: auto;
            margin-top: 5%;
            margin-left: var(--spacing-medium);
        }
        
        #baneBook {
            text-decoration: none;
            width: 150px;
            background-color: var(--secondaryColor);
            color: var(--text-white);
            text-align: center;
            padding: 10px 20px;
            border-radius: 4px;
        }
        #baneBook:hover {
          background-color: var(--secondaryColor_dark);
        }

        .heroVideo {
            position: absolute;
             top: 0;
            left: 0;
            width: 100%;
            height: 90vh; 
            overflow: hidden; 
        }

        .heroVideo video {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
        #menu-toggle {
            display: none;
        }

        #close-menu {
            display: none;
        }

        @keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideInFrom150 {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutTo150 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(150px);
  }
}

     @media only screen and (max-width: 768px) {
        header {
            position: relative;
            z-index: 1;
            clip-path: none;
            height: 150px;
        }
        .headerContent {
          margin: 0;
        }

        #atkLogo {
          margin-left: var(--spacing-small)
        }

        .navBtns {
          margin-right: var(--spacing-small)
        }
        nav {
            display: none; 
            flex-direction: column; 
            top: 150px;
            margin: 0;
            width: 100%;
            height: 800px;
            position: absolute;
            background-color: var(--primaryColor);
            transition: height 0.5s ease;
    }
    nav.active {
  animation: slideInFromTop 0.5s forwards; /* Apply slide in animation */
}

nav.reverse {
  animation: slideOutToTop 0.5s forwards; /* Apply slide out animation */
}
    
    nav a {
      color: var(--text-white);
      border-right: none;
      padding: 20px;
      text-align: center;
      width: 100%;
    }

   #atkText {
    display: none;
   }

    #menu-toggle, #close-menu {
        display: block;
        padding: 10px;
        color: var(--text-black);
    }
    #menu-toggle {
        font-size: 3.3em;
    }

    #close-menu {
        display: none;
        font-size: 3.8em;
    }

    
}

</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var menuToggle = document.getElementById('menu-toggle');
  var closeMenu = document.getElementById('close-menu');
  var nav = document.querySelector('nav');

  menuToggle.addEventListener('click', function () {
    nav.style.display = 'flex';
    nav.classList.remove('reverse'); 
    nav.classList.add('active'); 
    menuToggle.style.display = 'none';
    closeMenu.style.display = 'block';
  });

  closeMenu.addEventListener('click', function () {
    nav.classList.remove('active'); // Remove active animation class
    nav.classList.add('reverse'); // Add reverse animation class
    setTimeout(function () {
      nav.style.display = 'none'; // Hide navigation menu after animation
    }, 500); // Adjust the delay to match the animation duration
    menuToggle.style.display = 'block';
    closeMenu.style.display = 'none';
  });
});
</script>
 