---
const button = Astro.props.button;
// const text = Astro.props.text;
const buttonText = Astro.props.buttonText;

// const {button, text} = Astro.props;
---


<!-- rød banner-knap på junior -->
<article>
    <button>{button}</button>
</article>


<!-- rød makkerbørs-knap på forside og træning -->
<article>
    <!-- <h4>{buttonText}</h4>
    <button>{button}</button> -->

    <slot />
</article>


<style>



</style>