---
// const button = Astro.props.button;
// const buttonText = Astro.props.buttonText;

const {button, buttonText} = Astro.props;
---


<!-- rød banner-knap på junior -->
<article>
    <button>{button}</button>
</article>


<!-- rød makkerbørs-knap på forside og træning -->
<article>
    <h4>{buttonText}</h4>
    <button>{button}</button>

    <slot />
</article>


<style>
button {
background-color: var(--primaryColor);
color: var(--text-white);
border-radius: 10px;
padding: 5px;
}

button a:hover {
background-color: var(--primaryColor_dark);
color: var(--primaryColor);
}

</style>


<script>
// TILFØJ EVT. TIL JAVASCRIPT FOR ADSKILLELSE AF PRIMARYBTN x2?:
    
    // const PrimaryBtn = ({ button }) => (
    // <button className="primary-btn">{button}</button>); 

</script>