---
const {variant, size} = Astro.props;
---

<button class={variant}><slot /></button>


<style>
    .secondary {
    color: var(--primaryColor);
    background-color: var(--text-white);
    border-radius: 10px;
    padding: 10px;
    }
    .secondary a:hover {
    color: #D2D2D2;
    }

</style>

<script>


</script>
    