---
import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import PrimaryBtn from "../components/PrimaryBtn.astro";
import AccentBtn from "../components/AccentBtn.astro";
const {title} = Astro.props;
import "../styles/main.css";
import "../styles/pc_style.css";
import SecondaryBtn from "../components/SecondaryBtn.astro";
---

<html lang="da">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <HeadTitle title={title}/>
    </head>
    
    <body>
        <Navigation />

        <article>
            <slot />
        </article>

        <PrimaryBtn variant="primary1" size="small">TJEK MAKKERBØRS</PrimaryBtn>
        <PrimaryBtn variant="primary2" size="small">LÆS MERE OM TRÆNINGEN</PrimaryBtn>

        <SecondaryBtn variant="secondary" size="small">LÆS MERE</SecondaryBtn>

        <AccentBtn variant="accent" size="small">TEXT</AccentBtn>

        

        <!-- <article class="bannerknap">
            <PrimaryBtn button="LÆS MERE OM TRÆNINGEN"/>
        </article>

        <article class="makkerbors">
            <PrimaryBtn button="TJEK MAKKERBØRS" buttonText="SAVNER DU EN NY TRÆNINGSMAKKER?"/>
        </article>

        <article class="banebooking">
        <AccentBtn />
        </article>

        <article class="nyhedsbrev">
            <AccentBtn />
        </article> -->

        <Footer />
    </body>

</html>




