---
import HeadTitle from "../components/HeadTitle.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import PrimaryBtn from "../components/PrimaryBtn.astro";
import AccentBtn from "../components/AccentBtn.astro";
const {title} = Astro.props;
import "../styles/main.css";
import "../styles/pc_style.css";
---
<html lang="da">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <HeadTitle title={title}/>
    </head>
    
    <body>
     <Navigation />
     <main>   
     <article>
        <slot />
     </article>

      
    <PrimaryBtn button="LÆS MERE OM TRÆNINGEN"/>
    <PrimaryBtn button="TJEK MAKKERBØRS" buttonText="SAVNER DU EN NY TRÆNINGSMAKKER?"/>


    <AccentBtn />
    </main>
    </body>
    <Footer />
</html>




<!-- TILFØJ TIL JAVASCRIPT FOR ADSKILLELSE AF PRIMARYBTN x2:
    
    const PrimaryBtn = ({ button }) => (
    <button className="primary-btn">{button}</button>); 

-->